 
.sidebar {
  width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #090F4E;
  border-right: 1px solid grey;
  padding: 15px 0;
  z-index: 1000;
}

 .main-wrapper {
  padding: 16px;
  margin-left: 280px;
  background: var(--page-background-color);
  min-height: 90vh;
  height: 100%;
}
.main-wrapper.collapsed {
  margin-left: 80px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

 

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-logo {
  width: 180px;
  height: 50px;
  object-fit: contain;
}

.sidebar-header h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

 
.sidebar-nav {
  flex: 1;
  overflow-y: auto;
  padding: 15px 0;
}

 
.sidebar-nav-top {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar-nav-bottom {
  padding-top: 25px;
}



.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 4px 0px;
}

.sidebar-nav ul li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.sidebar-nav li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff; /* white text */
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.sidebar-nav li a i,
.sidebar-nav li a svg {
  font-size: 18px;
}

.sidebar-nav li a:hover {
  background-color: #2D96BC;
  color: #FFFFFF;
}
.nav-link.active-nav-links:hover {
  background-color: #2D96BC;
  color: #ffffff;
}

.nav-link.active-nav-links:hover .sidebar-icon {
  color: #2D96BC;
}

.sidebar-nav li a.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 8px;
  width: 3px;
  background-color: #ffffff;
  border-radius: 2px;
}

 
.sidebar-icon {
  color: var(--white-color);
}
.nav-link.active {
  background-color: #2D96BC;
  color: #fffffF;
  position: relative;
  padding-left: 15px; 
  border-radius: 0;  
}

 
.nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;  
  top: 15%;
  height: 70%;
  width: 3px; 
  background-color: var(--primary-blue);
  border-radius: 0 1px 1px 0;  
}


.nav-link.active-nav-links .sidebar-icon {
  color: var(--primary-blue);
}


 
.sidebar-icon {
  font-size: 20px;
  color: #ffffff;
}

 

.sidebar-nav::-webkit-scrollbar {
  width: 4px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sidebar-nav::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

 @media(max-width:767px){
    .sidebar{
      display: none;
    }
    .main-wrapper{
      margin-left: 0;
    }
    
 }
 




.header-btn{
    padding: 8px 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #2D96BC;
    border: transparent;
    border-radius: 10px;
    
}
.login-btn{
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #2D96BC;
    border: 2px solid #2D96BC;
    border-radius: 10px;
    background-color: transparent;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 10px;
    margin-left: 280px;
    border-bottom: 1px solid grey;
}
.header-input{
    width: 200px !important;
}
.nav-list li {
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}
.chevron {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
  margin-top: -2px;
}
.logo-crm{
    width: 140px;
    height: 50px;
 }
 .btn-section{
    display: flex;
    align-items: center;
    gap: 20px;
 }

 
.hamburger {
  display: none;
  cursor: pointer;
}

 
.mobile-header {
  display: none;
  z-index: 1002;
  position: relative;
}
.mobile-menu{
    display: none;
}


.menu-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  position: relative;

}


/* MOBILE */
@media (max-width: 768px) {

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .menu-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }

 
  .mobile-menu {
    position: fixed;
    display: block;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100vh;
    background: #fff;
    padding: 30px 20px;
    transition: right 0.3s ease;
    box-shadow: -4px 0 15px rgba(0,0,0,0.2);
    z-index: 999;
  }

  .mobile-menu.open {
    right: 0;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mobile-menu li {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  .header{
    margin-left: 0;
  }
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;  
    width: 75%;
    height: 100vh;
    background: #090F4E;
    transition: left 0.3s ease;
    z-index: 100000;
  }

  .sidebar.open {
    left: 0;  
  }

  .sidebar-close-btn {
    display: block;
    background-color: none; 
  }

  .main-wrapper {
    margin-left: 0;
  }
}

